# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\自媒体平台资料\B站-武哥聊编程\知识星球-项目训练营\基础白嫖项目\超市管理系统\supermarket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
